<p id="notice"><%= notice %></p>

<h1>Todo一覧</h1>
<%= render partial: 'todos_table', locals: { todos: @todos } %>

<h2>完了Todo一覧</h2>
<table>
  <thead>
  <tr>
    <th>タイトル</th>
    <th>本文</th>
    <th>状態</th>
    <th>優先度</th>
    <th>カテゴリ</th>
    <th>完了日</th>
  </tr>
  </thead>

  <tbody>
  <% @completed_tasks.each do |done| %>
    <tr>
      <td>
        <%= link_to done do %>
          <%= done.title %>
        <% end %>
      </td>
      <td><%= done.body %></td>
      <td><%= done.status %></td>
      <td><%= done.priority %></td>
      <td><%= done.category.try(:name) %></td>
      <td><%= done.completion_date.strftime('%Y年%m月%d日') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
